.main-form {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: auto;
  width: 70%;
}

.main-form label {
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.validate {
  display: flex;
  text-align: center;
  width: 100%;
}

.form-subtitle {
  display: flex;
  text-align: center;
  width: 100%;
}

.form-image {
  display: flex;
  text-align: center;
  width: 100%;
}

.form-storyline {
  display: flex;
  text-align: center;
  width: 100%;
}

.form-genre {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.form-avaliation {
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.form-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.form-button:hover {
  background-color: #0cff04;
  border: none;
  border-radius: 15px;
  box-shadow: 1px black;
  color: white;
  padding: 10px;
  transition: 0.5s;
}

.error {
  animation: slide 3s ease-in 1s infinite reverse;
  color: white;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

@keyframes slide {

  0% {
    color: aqua;
    font-size: 50px;
    transition: 0.5s;
  }

  50% {
    color: white;
    font-size: 55px;
    transition: 0.5s;
  }

  100% {
    color: rgb(255, 87, 87);
    font-size: 50px;
    transition: 0.5s;
  }
}
