.card-container {
  background-color: var(--surface);
  border-radius: 8px;
  box-shadow: 2px 2px 2px var(--shadow);
  display: flex;
  height: 180px;
  max-width: 320px;
  position: relative;
  transition: transform 0.4s;
}

.card-container:hover {
  transform: scale(1.2);
  z-index: 1000;
}

.card-body {
  color: var(--onSurface);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0%;
  padding: 16px 24px;
  transition: opacity 0.4s;
}

.card-container:hover .card-body {
  opacity: initial;
}

.card-container span {
  opacity: 87%;
}

.card-container p {
  font-size: 0.9em;
  line-height: 1.2em;
  max-height: 4.8em;
  opacity: 60%;
  overflow: hidden;
  position: relative;
  text-align: justify;
  text-overflow: ellipsis;
}

.card-container p:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--surface) 50%);
  bottom: 0;
  content: '';
  height: 1.2em;
  position: absolute;
  right: 0;
  text-align: right;
  width: 70%;
}

.card-container a {
  align-self: flex-end;
  color: var(--primary);
  font-size: 0.8em;
  opacity: 60%;
  text-decoration: none;
  transition: opacity 0.5s;
}

.card-container a:hover {
  opacity: 87%;
}

.card-overlay {
  background-color: var(--surface);
  border-radius: 8px;
  height: 100%;
  left: 0;
  opacity: 5%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.4s;
  width: 100%;
}

.card-container:hover .card-overlay {
  opacity: 85%;
}
