.header-container {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 16px;
  position: relative;
}

.header-container h1 {
  color: var(--onSurface);
  opacity: 87%;
}

.header-overlay {
  background-color: white;
  height: 100%;
  left: 0;
  opacity: 8%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
