body {
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}

/* ------------------------------------------------//
//                     HEADER                      //
//------------------------------------------------ */

.header {
  background-color: black;
  display: flex;
  font-size: 2.5em;
  font-weight: 600;
  justify-content: center;
  padding: 1em;
  text-align: end;
}

.header-child {
  display: flex;
}

.child-1 {
  font-family: Palette Mosaic , sans-serif;
  line-height: 0.9em;
  text-transform: lowercase;
}

.child-2 {
  color: #09abe6;
  font-size: 0.35em;
  line-height: 3em;
  padding-left: 0.5em;
}

/* ------------------------------------------------//
//                   MAIN PAGE                     //
//------------------------------------------------ */

.add-movie {
  background-color: #000000d2;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 1px 5px 20px #0000005c;
  color: white;
  margin: 0 20px 20px;
  padding: 0.5em 1em;
  position: fixed;
  right: 1%;
  text-decoration: none;
  top: 3%;
  width: fit-content;
  z-index: 100;
}

.movie-list {
  background-image: linear-gradient(#8d8d9b, #1b1b1e, #1b1b1e);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3%;
}

/* ------------------------------------------------//
//                     CARD                        //
//------------------------------------------------ */

.movie-card {
  background-color: #ffffff15;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #0008;
  display: flex;
  flex-direction: column;
  height: 380px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-image {
  box-shadow: 1px 1px 20px #0008;
  width: 100%;
}

.movie-card-image-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.movie-card-body {
  color: #adadbf;
  flex: 1 1 auto;
  padding: 0 20px 20px;
}

.movie-card-title {
  color: white;
  font-size: 1.6em;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.movie-card-details {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.details-link {
  align-items: center;
  align-self: flex-end;
  background-image: linear-gradient(#0578c4, #09abe6);
  border-radius: 30px;
  bottom: 10px;
  box-shadow: 1px 3px 15px #000000af;
  color: white;
  display: flex;
  font-size: 0.8em;
  font-weight: 500;
  justify-content: center;
  line-height: 1em;
  padding: 0.5em 1em;
  position: absolute;
  right: 10px;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}

/* ------------------------------------------------//
//                    LOADING                      //
//------------------------------------------------ */

.loading {
  align-items: center;
  background-color: #000000e5;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
}

.div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3%;
}

.fake-div {
  background-color: #ffffff15;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #0008;
  height: 380px;
  margin: 5px;
  width: 300px;
}

.loading span {
  background-color: #0000008c;
  border-radius: 100px;
  color: white;
  font-size: 3em;
  padding: 1em 1.5em;
  position: absolute;
}

/* -----------------------------------------------//
//                    DETAILS                     //
//----------------------------------------------- */

.movie-details-page {
  display: flex;
  height: 100%;
}

.movie-details {
  display: grid;
  font-size: 1.3em;
  height: 50vh;
  margin: 5% 10%;
  max-height: 100%;
  position: absolute;
  z-index: 30;
}

.movie-details h1 {
  font-size: 2.5em;
}

.details {
  height: 200px;
  max-width: 600px;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.details::-webkit-scrollbar {
  display: none;
}

.buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3em;
  max-width: 400px;
}

.buttons {
  background-color: #0000;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 1px 5px 20px #0000005c;
  color: white;
  font-size: 0.7em;
  font-weight: 500;
  height: fit-content;
  margin: 5px;
  padding: 0.5em 1em;
  right: 1%;
  text-decoration: none;
  width: fit-content;
}

.movie-details-img img {
  justify-self: end;
  min-height: 100vh;
  min-width: 100vw;
}

.movie-details-img {
  display: grid;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.movie-details-img:before {
  background-image: linear-gradient(to right, black, #000000c7, #0000);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

/* ------------------------------------------------//
//                     EDIT                        //
//------------------------------------------------ */

.edit-page {
  background-image: linear-gradient(#5d5d5f, #1b1b1e);
  display: flex;
  height: 80vh;
  justify-content: center;
}

.edit-form-card {
  background-color: #ffffff15;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #0008;
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: center;
  margin: 5%;
  overflow: hidden;
  padding: 0 30px;
}

.edit-form-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.edit-form {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}

.edit-form div > label {
  align-items: center;
  display: flex;
}

.edit-form-card h1 {
  align-self: flex-start;
  margin: 20px 0;
}

input, textarea, select {
  background-color: #0000;
  border: 1px solid white;
  border-radius: 30px;
  color: #ceced3;
  margin-right: 10px;
  -ms-overflow-style: none;
  padding: 5px 10px;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

button {
  align-items: center;
  background-image: linear-gradient(#0578c4, #09abe6);
  border: none;
  border-radius: 30px;
  box-shadow: 1px 5px 15px #00000069;
  color: white;
  display: flex;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  padding: 1em 1.5em;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

.button {
  align-self: flex-end;
}
