body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-header {
  color: blacks;
  font-size: 24px;
  font-weight: 500;
  padding: 48px 30px;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 1px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-detail {
  align-content: flex-start;
  background-color: white;
  border: 1px solid rgba(192, 152, 152, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 700px;
  margin: 5px;
  overflow: hidden;
  width: 600px;
}

.movie-card-image {
  height: 150px;
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.detail-card {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-start;
  padding: 12px 20px 1px;
}

.movie-edit {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
  height: 390px;
  margin: 20px;
  padding: 12px 20px 1px;
  width: 340px;
}

.movie-new {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
  height: 390px;
  margin: 20px;
  padding: 12px 20px 1px;
  width: 340px;
}

.detail-buttons {
  align-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  font-size: 14px;
  justify-content: space-evenly;
  padding: 20px 2px 10px;
}

.edit-new-buttons {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-evenly;
  padding: 14px 1px;
}

.loading {
  align-items: center;
  display: flex;
  font-size: 25px;
  height: 500px;
  justify-content: center;
}
