body {
  background-color: #414b66;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.movie-card-header {
  align-items: center;
  background-color: #050505;
  display: block;
  width: 100%;
  justify-content: center;
}

.page-title {
  color: #babdc7;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list-menu {
  background-color: #414b66;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.movie-card-menu:hover {
  /* source https://codepen.io/guilherme-giacomini-teixeira/pen/YzNqrrd?editors=0110 */
  transform: scale(1.03);
  /* transform: translateX(-1%) translateY(-1%); */
}

.movie-card-menu {
  background-color: rgba(255, 255, 255, 0.637);
  /* padding: -5px; */
  width: 200px;
  margin: 20px;
  border: solid black 10px;
  border-radius: 52px;
  transition-duration: 600ms;
  box-shadow: 1px black;
  box-shadow: #000000bf 13px 10px 8px 0px;
}

.movie-card-menu img {
  border-radius: 40px 40px 0px 0px;
  margin: -1px -1px 0px -1px;
  width: 101%;
}

.movie-card-menu-text {
  font-size: 10px;
  margin: 5px 5px;
  display: flex;
    align-content: center;
    padding: 14px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  padding: 5px 8px 10px 8px;
}

.movie-card-menu-text p{
margin:  0px 5px 5px 5px;
}

.link {
  font-size: 9px;
  color: black;
  align-content: center;
  text-decoration: solid;
    /* font-style: oblique; */
    font: initial;
}

.movie-card-details {
background-color: rgba(255, 255, 255, 0.637);
/* padding: -5px; */
width: 600px;
margin: 20px;
border: solid black 10px;
border-radius: 52px;
transition-duration: 600ms;
box-shadow: 1px black;
box-shadow: #000000bf 13px 10px 8px 0px;
}

.movie-card-details img {
/* border: solid black;
border-top: 1px;
border-right: 1px;
border-left: 1px; */
border-radius: 40px 40px 0px 0px;
margin: -1px -1px 0px -1px;
width: 101%;
}

.movie-card-details-text {
font-size: 12px;
display: flex;
  align-content: center;
  padding: 14px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
padding: 18px;
}

.movie-card-details-text a, 
.movie-card-menu-text a {
  font-size: 14px;
  display: flex;
    align-content: center;
    padding: 14px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  padding: 10px;
  box-shadow: 1px 1px black;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 1px 3px 4px 1px #000000ab;
  }

.movie-card-menu-text p:nth-child(3) {
  height: 90px;
}

#loading {
  font-size: 1px;
  margin: 100px;
}

/* source: https://loading.io/css/ \/\/\/ */
#loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}
#loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* source: https://loading.io/css/ /\/\/\ */
