body {
  background-color: #1b1b1e;
  box-sizing: border-box;
  color: #d8dbe2;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #373f51;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {

  /* color: #f6aa1c; */
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: #a9bcd0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  box-shadow: 1px 1px 10px black;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-image {
  width: 100%;
}

/* .movie-card-image-container {
  border: 1px solid pink;
}
.movie-card-image-container::after {
  background-color: #58a4b0;
  border: 10px solid yellow;
  content: '';
  height: 100px;
  width: 100%;
  position: relative;
} */

.movie-card-body {
  color: #1b1b1e;
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  color: black;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #58a4b0;
  border-radius: 25px;
  color: #d8dbe2;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: #d8dbe2;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}
